.cards_image{
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 58% 0px;
    overflow: hidden;
    position: relative;
    
}
.cards_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    
}
.cards_column{
    width: 33.3333%;
    
}
.cards_item{
    display: flex;
    flex-direction: column;
}