.block{
    width: 150px;
    height: 75px;
    background-color: aqua;
    margin: 10px;
}
.box1{
    position: static;
}
.box2{
    position: absolute;
    right: 0;
    top: 0;
}
.box3{
    position: relative;
    left: 50px;
}
.box4{
    position: fixed;
    left: 900px;
    top: 0;
}
body{
    height: 5000px;
}

.block-inner{
    width: 400px;
    height: 800px;
    border: 2px solid black;

}
.sticky{
    width: 150px;
    height: 75px;
    background-color: black;
    position: sticky;
    top: 10px;
    left: 15px;

}
.s-inner{
    color: white;
}
.flag{
    width: 500px;
    height: 300px;
    border: 2px solid black;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flag-inner{
    width: 150px;
    height: 150px;
    border-radius: 90%;
    background-color: red;
   
}


.inst{
    margin: 30px;
    width: 600px;
    height: 600px;
   background: linear-gradient(168deg, rgba(19,157,233,1) 10%, rgba(125,32,230,1) 25%, rgba(255,85,228,1) 66%, rgba(233,194,74,1) 81%);
   border-radius: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.inst-inner{
    width: 400px;
    height: 400px;
    border: 30px solid white;
    border-radius: 20%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    width: 200px;
    height: 200px;
    border: 30px solid white;
    border-radius: 90%;
}

.circle-inner{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 90%;
    position: absolute;
    right: 25px;
    top: 25px;

}
